@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body {
 margin: 0;
 padding: 0;
 font-family: "Figtree", sans-serif;
 font-size: 1.2rem;
 line-height: 1.6rem;
}


a {
  color: black;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; 
  background-color: #333;
  color: #e4e4e4;
}

.text{
  padding-left: 40px;
}

.logo h1 {
  margin: 0;
}

nav ul {
  margin-left: 100%;
  list-style: none;
  margin: 0%;
  padding: 0%;
  display: flex;
  gap: 40px;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  color: #dddddd;
  text-decoration: none;
  font-size: 16px;
}

nav ul li a:hover {
  color: black;
}


.wrapper {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: justify;
  
  width: 900px;
  height: 450px;
  
  background: hsl(0,0%,95%);
  box-shadow: 1px 1px 25px 3px rgba(0,0,0,.3); 

  font-family: 'Staatliches', cursive;
  margin-top: 9%;  
  padding: 0;
  box-sizing: border-box;
}

.nav {
  position: relative;
  left: 2%;
  height: 10%;
  width: max-content;
}
.navbar {
  padding-top: 2%;
}
.navbar li {
  position: relative;
  list-style: none;
  display:inline;
  margin-right: 1vw;
  
  font-size: 1.225rem;
}
.navbar li::after {
  content:"";
  position: absolute;
  bottom: 0;
  left: 0;
  
  width: 100%;
  height: 2px;
  
  background: black;
  
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease;
}
.navbar li:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  
  box-shadow: 0px 4px 5px 2px rgba(0,0,0,.1);
}


.header{
  position: absolute;
  width: max-content;
  font-size: 2.875rem;

  white-space: nowrap;
  
  top: 15%;
  left: 7%;
}

.header::after {
  content:'';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 20%;

  
  background: black;
}


.content {
  position: absolute;
  font-size: 1.525rem;
  width: 40%;
  
  top: 37%;
  left: 7%;
}
.image {
  position: absolute;
  top: 0;
  right: 0;

  width: 50%;
  height: 100%;
  background-image: url('assets/img/about/meee.jpeg');
  clip-path: polygon(35% 0%, 100% 0, 100% 100%, 8% 100%); 
  
  background-repeat: no-repeat;
  background-size: cover;
}